<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="container">
    <h2>Set value</h2>
    <label for="set-value">Text input</label>
    <input type="text" id="set-value" name="set-value-name" placeholder="Set value here"><br><br>
</div>

<h1>File upload</h1>

<p>Show a file-select field which allows a file to be chosen for upload:</p>
<form action="/action_page.php">
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile"><br><br>
    <input type="submit" value="Submit">
</form>

<h1>Show a Date Control</h1>

<form action="/action_page.php">
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" name="birthday">
    <input type="submit">
</form>

<h2>Range Field</h2>

<p>Depending on browser support: The input type "range" can be displayed as a slider control.</p>

<form action="/action_page.php" method="get">
    <label for="vol">Volume (between 0 and 50):</label>
    <input type="range" id="vol" name="vol" min="0" max="50">
    <input type="submit" value="Submit">
</form>


<div class="double-click-element-container">
    <h2>Select by visible text</h2>
    <label for="select-by-visible-text">Choose a car:</label>
    <select name="select-by-visible-text-name" id="select-by-visible-text">
        <option value="volvo-value">Volvo</option>
        <option value="saab-value">Saab</option>
        <option value="opel-value">Opel</option>
        <option value="audi-value">Audi</option>
    </select>
</div>

</body>
</html>
